<!DOCTYPE html>

<html>
  <head>
    <title>File Metadata</title>
    <link
      rel="icon"
      href="%PUBLIC_URL%/file-icon.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/909ca40244.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <h2>API Project: File Metadata Microservice</h2>
      <div class="view">
        <h4>Usage:</h3>
      <p>
        Upon uploading a file, server responds with name of the file, its type, and its size in bytes.
      </p>
        <form
          enctype="multipart/form-data"
          method="POST"
          action="/api/fileanalyse"
        >
          <input id="inputfield" type="file" name="upfile">
          <input id="button" type="submit" value="Upload" />
        </form>
      </div>
    </div>
  </body>
  <footer>
      Created by Jose Jasso Jr.
      <div id="footer-buttons">
        <a
          href="https://www.josejassojr.com/"
          target="_blank"
          rel="noreferrer"
          class="footer-button"
        >
          <i class="fas fa-laptop-code"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/josejassojr/"
          target="_blank"
          rel="noreferrer"
          class="footer-button"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          href="https://github.com/josejassojr"
          target="_blank"
          rel="noreferrer"
          class="footer-button"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          href="mailto:jose.d.jassojr@gmail.com"
          target="_blank"
          rel="noreferrer"
          class="footer-button"
        >
          <i class="far fa-envelope"></i>
        </a>
      </div>
  </footer>
</html>
