/****** Main Styling ******/

body {
  font-family: "Ubuntu", sans-serif;
  color: #222;
  background-color: rgb(40, 173, 156);
  text-align: center;
}

.container {
  padding: 0;
  margin-top: 40px;
}

footer {
  display: flex;
  flex-direction: row;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 11px;
  width: 300px;
  justify-content: space-around;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

#footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
.footer-button,
footer {
  color: rgba(8, 7, 7, 0.527);
}

/* Larger Views (Like Monitors and such) */
@media (min-width: 1600px) {
  footer {
    font-size: 13px;
    width: 500px;
  }
}
@media (min-width: 2560px) {
  footer {
    font-size: 24px;
    width: 600px;
  }
}

/* Mobile View */
@media (max-width: 600px) {
  footer {
    margin-top: 50px;
  }
}

.view {
  /* position:relative; */
  margin: auto;
  margin-top: 40px;
  border: 0.5vw solid #1c6b61;
  border-radius: 0.5vw;
  padding: 20px;
  width: 60%;
  min-width: 400px;
}

#button {
  background-color: rgb(40, 173, 156);
  border: 3px solid #1c6b61;
  width: 100px;
  border-radius: 5px;
  padding: 2px;
  margin-left: -5px;
}

#button:active {
  background-color: rgb(32, 145, 130);
}
input:hover {
  cursor: pointer;
}

/* #github,
#linkedin {
  font-size: 3.5vw;
  margin: 5px;
  color: #1c6b61;
} */
